# Binaries
terraform-provider-soft-serve
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
bin/
build/
dist/

# Go
vendor/
*.test
*.out
coverage.txt
go.work
go.work.sum

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# GoReleaser
.goreleaser/

# Examples
examples/**/.terraform/
examples/**/*.tfstate
examples/**/*.tfstate.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store

# devbox
.devbox/
devbox.lock

# Environment
.env
.env.local
*.local
